.debug { border: 1px red solid; }
.center { text-align: center; }

.h-5 { height: 5em; }
.h-7 { height: 7em; }
.h-10 { height: 10em; }

.p-t-5 { padding-top: 5em; }




/*--------- color ---------*/
.gray { background-color: #ecf0f1; }
