<aside class='container debug'>


  <div class='row'>
    <div class='col-xs-12 debug center'>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
      <p>this is the FEED VIEW</p>
    </div>  
  </div>

</aside>
